<footer class="d-flex">
    <span id = "industry-text">
        &copy; Coding Ninjas. All rights reserved
    </span>
    <div id = "footer-links" class="d-flex">
        <span>
            <a href="/">
                Home
            </a>
        </span>
        <span>
            <a href="/users/profile">
                Profile
            </a>
        </span>
    </div>
</footer>