<footer class="d-flex">
    <span id = "industry-text">
        &copy; Coding Ninjas. All rights reserved
    </span>
    <div id = "footer-links" class="d-flex">
        <span>
            <a href="/">
                Home
            </a>
        </span>
        <%if(locals.user){%>
        <span>
            <a href="/users/profile/<%=locals.user.id%>">
                Profile
            </a>
        </span>
        <%}%>
    </div>
</footer>