<header class="d-flex">
    <div class = "page-heading">
        Codeial 
    </div>
    <ul class="d-flex">
        <% if(locals.user){%>
              <li class="header-btn d-flex green-black">
                  <a href="/users/profile">
                      <%=user.name%>
                  </a>
               </li>
              <li class="header-btn d-flex gray-white">
                  <a href="/users/sign-out">Sign Out</a>
              </li>

            <%}else{%>
                <li class="header-btn d-flex gray-white">
                    <a href="/users/sign-in">Sign In</a>
                </li>
                <li class="header-btn d-flex green-black">
                    <a href="/users/sign-up">Sign Up</a>
                </li>


        <% } %>
    </ul>
</header>