  <h1>
         Codeial / <%=title%> 
   </h1>



    <section id = "feed-posts">
        <h4>posts</h4>
        <form action="/posts/create" method="post" id = "new-post-form">
            <textarea name="content" id="" cols="30" rows="3"></textarea>
            <input type="submit" value="Post">
        </form>

    </section>

