<h1>Sign Up page</h1>

<form action="/create" method="post">
   <input type="text" name="name" placeholder="Type your name">
   <input type="email" name="email" placeholder="Type your email">
   <input type="password" name="password" placeholder="Enter password">
   <input type="password" name="confirm_password" placeholder="Confirm password">

   <input type="submit" value="Sign-Up">
</form>