#home-container {
  display: flex;
  height: 100%;
}

#home-container #feed-posts {
  width: 70%;
}

#home-container #friend-list {
  height: 100%;
  width: 30%;
  padding: 5px;
  border-left: 2px solid lightgrey;
}
